.mepr-checkout-container.mp_wrapper .mp-table tr td .desc {
    display: none;
}
.mp-table .bloopanimation-logo-n-text {
	display: none;
}
body .mepr-checkout-container .invoice-wrapper .invoice-amount {
	display: none !important;
}
body .mepr-checkout-container .invoice-wrapper {
	padding-top: 0;
}
body .mepr-checkout-container .invoice-wrapper table .bt {
    font-weight: bold;
    color: #000;
}
body .mepr-checkout-container .invoice-wrapper .mepr_price {
	margin-bottom: 0;
}
.bloopanimation-logo-n-text img {
	max-width: 100px;
}
.mepr-checkout-container .mepr-product-rows {
	display: flex;
    flex-direction: column;
}
.mepr-checkout-container .have-coupon-link,
.mepr-checkout-container .have-coupon-link:hover,
.mepr-checkout-container .have-coupon-link:visited,
.mepr-checkout-container .have-coupon-link:active {
	color: inherit;
}
.mepr-checkout-container .have-coupon-link {
	font-size: 13px;
    color: gray;
}
.mepr-transaction-invoice-wrapper {
	order: 1;
}
.mp-form-row.mepr_coupon {
	order: 2;
}
.have-coupon-link {
	order: 3;
}
.bloopanimation-logo-n-text,
.bloopanimation-logo-n-text span {
	display: block;
}
.bloopanimation-logo-n-text h1,
.bloopanimation-logo-n-text h2,
.bloopanimation-logo-n-text h3,
.bloopanimation-logo-n-text h4,
.bloopanimation-logo-n-text h5,
.bloopanimation-logo-n-text h6 {
	margin-top: 0;
}
.bloopanimation-logo-n-text span {
	margin-top: 1em;
}
body .form-wrapper .mp-form-row input[type="text"],
body .form-wrapper .mp-form-row input[type="email"] {
	box-shadow: none;
}

/*
* Desktop
*/
@media only screen and (min-width: 768px) {
	.bloopanimation-logo-n-text {
		margin-top: 60px;
	}
	.single-memberpressproduct .site-branding__logo {
		display: none;
	}
}

/*
* Mobile
*/
@media only screen and (max-width: 767px) {
	.bloopanimation-logo-n-text img {
		display: none;
	}
	body .mepr-checkout-container .invoice-wrapper,
	body .mepr-checkout-container .form-wrapper {
		padding-left: 23px;
	    padding-right: 23px;
	}
}
