.bloopanimation-header-cart.bloopanimation-needs-top-css-rule {
	top: 78px;
}
.mepr-checkout-container.mp_wrapper .mp-table tr td .desc {
    display: none;
}
.mp-table .bloopanimation-logo-n-text {
	display: none;
}
body .mepr-checkout-container .invoice-wrapper .invoice-amount {
	display: none !important;
}
body .mepr-checkout-container .invoice-wrapper {
	padding-top: 0;
}
body .mepr-checkout-container .invoice-wrapper table .bt {
    font-weight: bold;
    color: #000;
}
body .mepr-checkout-container .invoice-wrapper .mepr_price {
	margin-bottom: 0;
}
.bloopanimation-logo-n-text img {
	max-width: 100px;
}
.mepr-checkout-container .mepr-product-rows {
	display: flex;
    flex-direction: column;
}
.mepr-checkout-container .have-coupon-link,
.mepr-checkout-container .have-coupon-link:hover,
.mepr-checkout-container .have-coupon-link:visited,
.mepr-checkout-container .have-coupon-link:active {
	color: inherit;
}
.mepr-checkout-container .have-coupon-link {
	font-size: 13px;
    color: gray;
}
.mepr-transaction-invoice-wrapper {
	order: 1;
}
.have-coupon-link {
	order: 2;
}
.mp-form-row.mepr_coupon {
	order: 3;
}
.bloopanimation-payment-options-wrapper {
	order: 4;
	margin-top: 25px;
}
.bloopanimation-payment-options-wrapper a:first-child {
	background: #f6f6f6;
}
.bloopanimation-payment-option p {
	margin-top: 3px;
    margin-bottom: 0;
}
.bloopanimation-logo-n-text,
.bloopanimation-logo-n-text span {
	display: block;
}
.bloopanimation-logo-n-text h1,
.bloopanimation-logo-n-text h2,
.bloopanimation-logo-n-text h3,
.bloopanimation-logo-n-text h4,
.bloopanimation-logo-n-text h5,
.bloopanimation-logo-n-text h6 {
	margin-top: 0;
}
.bloopanimation-logo-n-text span {
	margin-top: 1em;
}
body .form-wrapper .mp-form-row input[type="text"],
body .form-wrapper .mp-form-row input[type="email"],
body .form-wrapper .mp-form-row input[type=password] {
	box-shadow: none;
}
.bloopanimation-header-cart {
	position: absolute;
    z-index: 20;
    right: -27px;
    top: 19px;
    display: inline-block;
	margin-left: 7px;
}

.bloopanimation-header-cart a {
	position: relative;
}
.bloopanimation-bubble {
	position: absolute;
    top: -8px;
    background: #FF8243;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    right: -11px;
}
.bloopanimation-payment-option,
.bloopanimation-payment-option:hover,
.bloopanimation-payment-option:active,
.bloopanimation-payment-option:visited {
	color: inherit;
}
.bloopanimation-payment-option {
	display: flex;
	justify-content: space-between;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.bloopanimation-login-section {
	display: none;
	margin-top: 10px;
}
.mepr-form .bloopanimation-login-link-wrapper {
	margin-bottom: 0;
    font-size: 14px;
}
.bloopanimation-login-section input {
	margin-bottom: 20px;
}
.mepr-form .bloopanimation-login-section input[type=text].bloopanimation-validation-error,
.mepr-form .bloopanimation-login-section input[type=password].bloopanimation-validation-error {
	border-color: red;
}
#bloopanimation-validation-msg {
	margin-top: 0;
    color: red;
    margin-bottom: 20px;
    font-weight: bold;
    display: none;
}
.bloopanimation-login-section button,
.bloopanimation-login-section button:hover,
.bloopanimation-login-section button:focus {
	background-color: #ff8243;
    border-color: #ff8243;
}
.bloopanimation-spinner {
	display: none;
    width: 15px;
    height: 15px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #333;
    -webkit-animation: bloopanimation-spin .7s linear infinite;
    animation: bloopanimation-spin .7s linear infinite;
    margin-left: 5px;
    margin-bottom: -2px;
}
@-webkit-keyframes bloopanimation-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes bloopanimation-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*Shortcode that displays the list of purchases*/
.bloopanimation-purchases-list-box-header {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 15px;
}
.bloopanimation-purchases-list-box {
	padding: 20px;
    background: #f5f5f5;
    margin-bottom: 30px;
}
.bloopanimation-left-flex-div {
	margin-left: auto;
}
.bloopanimation-purchases-list-box-body img {
	max-width: 50px;
}
.bloopanimation-purchases-list-box-body {
	display: flex;
	padding-top: 15px;
}
.bloopanimation-purchases-box-title {
	margin-left: 10px;
    margin-top: 10px;
}

/*
* Desktop
*/
@media only screen and (min-width: 768px) {
	.bloopanimation-logo-n-text {
		margin-top: 60px;
	}
	.single-memberpressproduct .site-branding__logo {
		display: none;
	}
	.bloopanimation-purchases-list-box-header {
		display: flex;
	}
}

/*
* Mobile
*/
@media only screen and (max-width: 767px) {
	.bloopanimation-logo-n-text img {
		display: none;
	}
	body .mepr-checkout-container .invoice-wrapper,
	body .mepr-checkout-container .form-wrapper {
		padding-left: 23px;
	    padding-right: 23px;
	}
	.bloopanimation-payment-option {
		display: block;
	}
	.bloopanimation-left-flex-div {
	    margin-top: 10px;
	}
}
