.mepr-checkout-container.mp_wrapper .mp-table tr td .desc {
    display: none;
}
.mp-table .bloopanimation-logo-n-text {
	display: none;
}
body .mepr-checkout-container .invoice-wrapper .invoice-amount {
	display: none !important;
}
body .mepr-checkout-container .invoice-wrapper .invoice-heading {
/*	display: none;*/
}
body .mepr-checkout-container .invoice-wrapper {
	padding-top: 0;
}
body .mepr-checkout-container .invoice-wrapper table .bt {
    font-weight: bold;
    color: #000;
}
body .mepr-checkout-container .invoice-wrapper .mepr_price {
	margin-bottom: 0;
}
.bloopanimation-logo-n-text img {
	max-width: 100px;
}
.single-memberpressproduct .site-branding__logo {
	display: none;
}
.mepr-checkout-container .mepr-product-rows {
	display: flex;
    flex-direction: column;
}
.mepr-checkout-container .have-coupon-link,
.mepr-checkout-container .have-coupon-link:hover,
.mepr-checkout-container .have-coupon-link:visited,
.mepr-checkout-container .have-coupon-link:active {
	color: inherit;
}
.mepr-transaction-invoice-wrapper {
	order: 1;
}
.mp-form-row.mepr_coupon {
	order: 2;
}
.have-coupon-link {
	order: 3;
}
.bloopanimation-logo-n-text,
.bloopanimation-logo-n-text span {
	display: block;
}
.bloopanimation-logo-n-text {
	margin-top: 60px;
}